<footer class="bg-gray-dark" style="background: url('assets/egg_shell/egg_shell.png') repeat">
  <div class="d-flex flex-column flex-lg-row flex-justify-around p-6">
    <div id="contact-details">
      <ul>
        <li>
          <i class="las la-envelope"></i>
          <a href="mailto:razakh@usc.edu">razakh [at] usc [dot] edu</a>
        </li>
        <li>
          <i class="las la-map-marked"></i>
          Los Angeles, CA
        </li>
      </ul>
    </div>

    <div id="download-resume">
        <i class="las la-file-pdf"></i>
        <a href="assets/Taufeq_Razakh_CV.pdf">Take a resume</a>
    </div>

    <div id="reach-out">
      <h3>Let's get in touch <i class="las la-arrow-right"></i></h3>
      <form action="https://formcarry.com/s/rTWGS_IrGO" method="POST" accept-charset="UTF-8" >
        <input class="form-control" type="text" placeholder="You email" aria-label="Repository description" />
        <button class="btn" type="submit">Connect</button>
      </form>
    </div>
  </div>
</footer>
