---
---

#expertise ul {
  list-style-type: none;
  padding: 0;
}

#expertise ul li {
  margin: 20px 0;
}

#about,
#expertise,
#projects,
#hackathons,
#working-manuscripts,
#publications,
#education {
  // Padding
  padding-right: 40px !important;
  padding-left: 40px !important;
}

#projects img,
#hackathons img,
#working-manuscripts img {
  max-width: 900px;
  max-height: 900px;
  object-fit: cover;
}

@media (min-width: 1012px) {
  #projects img,
  #hackathons img,
  #working-manuscripts img {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
  }
}

#about h3,
#expertise h3,
#projects h3,
#hackathons h3,
#working-manuscripts h3,
#education h3 {
  padding-top: 25px;
  border-top: 4px #e1e4e8 solid;
}

// Fonts
#about p,
#expertise ul,
#projects p,
#hackathons p,
#working-manuscripts p,
#publications p,
#education {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-large-mobile)
}

#about h3,
#expertise h3,
#projects h3,
#hackathons h3,
#working-manuscripts h3,
#education h3 {
  font-family: var(--font-family-non-serif);
  font-size: var(--font-size-jumbo-mobile);
  font-weight: var(--font-weight-bold-mobile);
}

#projects h4 a,
#hackathons h4 a,
#working-manuscripts h4 a {
  font-family: var(--font-family-non-serif);
  font-size: var(--font-size-larger-mobile);
  color: black;
  text-decoration: underline;
}

@media (min-width: 1012px) {
  #about p,
  #expertise ul,
  #projects p,
  #hackathons p,
  #working-manuscripts p,
  #publications p,
  #education {
    font-family: var(--font-family-serif);
    font-size: var(--font-size-large-monitor)
  }

  #about h3,
  #expertise h3,
  #projects h3,
  #hackathons h3,
  #working-manuscripts h3,
  #education h3 {
    font-family: var(--font-family-non-serif);
    font-size: var(--font-size-jumbo-monitor);
    font-weight: var(--font-weight-bold-monitor);
  }

  #projects h4 a,
  #hackathons h4 a,
  #working-manuscripts h4 a {
    font-family: var(--font-family-non-serif);
    font-size: var(--font-size-larger-monitor);
    color: black;
    text-decoration: underline;
  }
}
