---
---

#expertise ul {
  list-style-type: none;
  padding: 0;
}

#expertise ul li {
  margin: 20px 0;
}

#about,
#expertise,
#projects,
#hackathons,
#working-manuscripts,
#publications,
#education {
  // Padding
  padding-right: 40px !important;
  padding-left: 40px !important;
}

#projects img,
#hackathons img,
#working-manuscripts img,
#publications img {
  max-width: 900px;
  max-height: 900px;
  object-fit: cover;
}

@media (min-width: 1012px) {
  #projects img,
  #hackathons img,
  #working-manuscripts img,
  #publications img {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
  }
}

#about h3,
#expertise h3,
#projects h3,
#hackathons h3,
#working-manuscripts h3,
#publications h3,
#education h3 {
  padding-top: 25px;
  border-top: 4px #e1e4e8 solid;
}
