---
---

#expertise ul {
  list-style-type: none;
  padding: 0;
}

#expertise ul li {
  margin: 20px 0;
}

#about,
#expertise,
#projects,
#hackathons,
#publications,
#education {
  // Padding
  padding-right: 40px !important;
  padding-left: 40px !important;
}

@media (min-width: 1012px) {
  #expertise {
    width: 16.6666666667%;
  }
}
